* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

/* Bg auto filter browser */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e0f2f1 inset; /* Change #bfa2db to your desired background color */
}

/* scroll bar custom */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(44, 67, 80, 0.5);
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(83, 15, 55, 0.5);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #b40f38),
    color-stop(0.72, #c71945),
    color-stop(0.86, #e62d5b)
  );
}

/* swiper styles */
.swiper-button-next,
.swiper-button-prev {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #f59e0b !important;
  background-color: transparent;
  text-shadow: 0px 0px 10px rgba(255, 186, 53, 0.5);
  transition: transform 0.3s, scale 0.3s;
}

.swiper-button-prev:hover {
  transform: translate(-0.5rem);
  scale: 1.1;
}

.swiper-button-next:hover {
  transform: translate(0.5rem);
  scale: 1.1;
}

a {
  text-decoration: none;
}
